.wrapper {
  background-color: #171615;
  background-image: url('/img/image_bg_form.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendform {
  background-image: url('/img/Rectangle_form.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  max-width: 1200px;
  min-height: 502px;

  &-middleInputs {
    display: flex;
    grid-template-columns: 1fr 1fr;
    img {
      padding-right: 10px;
    }
  }

  &-location {
    display: flex;
    padding: 10px 0px 6px 0px;
  }
  &-uppertext {
    padding: 80px 0px 26px 0px;
    span {
      font-weight: 600;
      font-size: 32px;
    }
    p {
      color: #bababa;
      font-weight: 400;
      font-size: 12px;
    }
  }
  input {
    color: #bababa;
    min-width: 210px;
    background-color: #454545;
    height: 36px;
    border: none;
    margin: 0px 16px 0px 0px;
    cursor: pointer;
    &:valid {
      color: #fff;
    }
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  @media (max-width: 800px) {
    .sendform-middleInputs {
      flex-direction: column;
      img {
        max-width: 30px;
        max-height: 30px;
      }
    }
  }
}

.backcall {
  color: #fff;
  background-color: #ec6500;
  margin-left: 27px;
  border: none;
  width: 246px;
  height: 36px;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
}

.sendButton {
  border: 1px solid #ec6500;
  margin-left: 27px;
  color: #fff;
  background: none;
  width: 206px;
  height: 36px;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
}

.nameInput {
  background: url('/img/form_name_icon.svg') no-repeat scroll 3px 3px;
  padding-left: 35px;
  &:valid {
    background: url('/img/form_name_icon_click.svg') no-repeat scroll 3px 3px;
    background-color: #797979;
  }
}
.phoneInput {
  background: url('/img/form_phone_icon.svg') no-repeat scroll 3px 3px;
  padding-left: 35px;
  &:valid {
    background: url('/img/form_phone_icon_click.svg') no-repeat scroll 3px 3px;
    background-color: #797979;
  }
}
.cityInput {
  background: url('/img/form_city_icon.svg') no-repeat scroll 3px 3px;
  padding-left: 35px;
  &:not(:placeholder-shown) {
    background: url('/img/form_city_icon_click.svg') no-repeat scroll 3px 3px;
    background-color: #797979;
  }
}
.streetInput {
  background: url('/img/form_street_icon.svg') no-repeat scroll 3px 3px;
  padding-left: 35px;
  &:not(:placeholder-shown) {
    background: url('/img/form_street_icon_click.svg') no-repeat scroll 3px 3px;
    background-color: #797979;
  }
}
.sizesInput {
  background: url('/img/form_size_icon.svg') no-repeat scroll 3px 3px;
  padding-left: 35px;
  &:not(:placeholder-shown) {
    background: url('/img/form_size_icon_click.svg') no-repeat scroll 3px 3px;
    background-color: #797979;
  }
}
.weightInput {
  background: url('/img/form_weight_icon.svg') no-repeat scroll 3px 3px;
  padding-left: 35px;
  &:not(:placeholder-shown) {
    background: url('/img/form_weight_icon_click.svg') no-repeat scroll 3px 3px;
    background-color: #797979;
  }
}
#size {
  width: 254px;
  height: 36px;
}

.sizes {
  padding: 8px 0px 10px 0px;
}

.to {
  text-align: left;
  padding-right: 40px;
}

.from {
  padding-left: 55px;
}

.allInputsareValid {
  background-color: #ec6500;
}
