main {
  background-color: #171615;
}
.intro {
  min-height: 680px;
  background-image: url('/img/main_pic_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #171615;
  padding: 537px 0px 68px 0px;
  p {
    font-size: 32px;
    font-weight: 400;
    width: 60%;
  }
  span {
    font-weight: 800;
    color: #ec6500;
  }
}
.blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  padding: 57px 0px 88px 0px;
  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 650px) {
    grid-template-columns: repeat(1, 1fr);
  }
  .block {
    display: flex;
    align-items: center;
    p {
      color: #bababa;
      font-size: 20px;
      font-weight: 400;
      padding-left: 16px;
    }
  }
}

.services {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 0px;
  @media (max-width: 1000px) {
    grid-template-columns: repeat(1, 1fr);
    font-size: 15px;
    img {
      max-width: 90%;
      max-height: 90%;
    }
    .services-block {
      justify-self: center;
    }
  }
  &-block {
    padding-bottom: 60px;
  }
  p {
    padding-top: 27px;
    color: #bababa;
  }
}

.autopark {
  h5 {
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 47px;
  }
  &-carblocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media (max-width: 1250px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &-carblock {
    padding: 0px 55px 25px 0px;
    h5 {
      padding: 0;
      margin: 0;
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      box-sizing: border-box;
    }
  }
  &-text {
    display: grid;
    grid-template-columns: 2fr 1fr;
    p,
    span {
      color: #bababa;
      font-size: 12px;
      font-weight: 400;
    }
    span {
      padding-left: 18px;
    }
    .firststring {
      padding-top: 17px;
    }
  }
  &-title {
    min-width: 252px;
  }
}
